* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #e8ebf2;
  min-height: 100vh;
  height: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  color: #424147;
}

@media only screen and (max-width: 770px){
  .App {
    overflow-y: scroll;
  }
}
